<div class="log-list-container">
  <div class="log-list-item" *ngFor="let log of logs">
    <app-timer-log [log]="log"></app-timer-log>
    <div class="delete-log">
      <button (click)="onDeleteLog(log)">
          <i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>