@import '../../../assets/FontsAndColors.less';
@buttonWidth: 50px;
@buttonHeight: @buttonWidth;
@borderWidth: 3px;
.button-skeleton {
    flex-basis: @buttonWidth;
    height: @buttonHeight;
    border-radius: 100%;
    padding: 0;
    background-color: white;
    border-width: @borderWidth;
    border-style: solid;
    box-sizing: content-box;
}
.timer-buttons {
    box-sizing: border-box;
    display: flex;
    margin: 5px;
    .play-button {
        .button-skeleton;
        border-color: @startingColor;
        box-shadow: @borderWidth @borderWidth @startingColor;
        .play-button-triangle {
            width: 0;
            height: 0;
            left: 30%;
            box-sizing: border-box;
            position: relative;
            border-style: solid;
            border-width: @buttonHeight/4 0 @buttonHeight/4 @buttonWidth/2;
            border-color: transparent transparent transparent @startingColor;
        }
        &:hover {
            border-color: darken(@startingColor, 10%);
            box-shadow: @borderWidth + 2 @borderWidth + 2 darken(@startingColor, 10%);
            .play-button-triangle {
                border-color: transparent transparent transparent darken(@startingColor, 10%);
            }

        }
    }
    .stop-button {
        .button-skeleton;
        @stopColor: lightcoral;
        border-color: @stopColor;
        box-shadow: @borderWidth @borderWidth @stopColor;
        .stop-button-square {
            width: 0;
            height: 0;
            position: relative;
            box-sizing: border-box;
            left: 25%;
            border-width: @buttonWidth/4;
            border-style: solid;
            border-color: @stopColor;

        }
        &:hover {
            border-color: darken(@stopColor, 10%);
            box-shadow: @borderWidth + 2 @borderWidth + 2 darken(@stopColor, 10%);
            .stop-button-square{
                border-color: darken(@stopColor, 10%);
            }

        }
    }
}

.task-name-form{
    input, button {
        font-family: @u-font;
    }
}