<div class="task-name-form">
  <form #f="ngForm"
        (ngSubmit)="onTaskEntry(f.value)">
    <input type="text"
           placeholder="what are you logging?"
           name="task"
           [(ngModel)] = "task">
    <button type="submit">Save Task</button>
  </form>
</div>