.time-range-buttons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        border-radius: 100%;
        border-width: 0;
    }
    &.previous-button {

    }
}