<app-data-buttons></app-data-buttons>
<div class="time-range-buttons">
    <button class="previous-button" (click)="jumpBack()">
        <</button>

            <button class="next-button" (click)="jumpForward()">></button>
</div>
<app-chart></app-chart>