<div class="timer-log-container">
    <div class="timer-log-item">
        <h3 class = "log-task-name">{{log.task}}</h3>
        <div class="log-start">{{startDateString}}</div>
    </div>
    <div class="timer-log-item log-duration">{{duration}}</div>
</div>
