@import '../../../assets/FontsAndColors.less';
@import (css) "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@borderWidth: 3px;
@padding: 5px;
@margin: 12px;
@from: 1;
@n: 15; 

.log-box-style(@index) when(@index <= @n) {
    @color: spin(@startingColor, @index * 7);
    &:nth-of-type(@{index}) {
        border-color: @color;
        box-shadow: @borderWidth+2 @borderWidth+2 @color;
        padding: @padding;
        border-width: @borderWidth;
        border-style: solid;
        &:hover {
            @hoverColor: darken(@color, 10%); 
            border-color: @hoverColor;
            box-shadow: @borderWidth+4 @borderWidth+4 @hoverColor;
        }
    }
    .log-box-style(@index + 1);
}

.log-list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: @padding;
    .log-list-item { 
        width: 30%;
        margin-bottom: @margin;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .log-box-style(@from);
        .delete-log {
            align-self: flex-end;
            button {
                font-family: @u-font;
                background-color: white;
                border: none;
                &:hover {
                    background-color: lightblue;
                }
            }
        }
    }
}


.timer-log-container { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    .timer-log-item {
        font-family: @u-font;
        .log-task-name {
            margin: 0;
        
        }
}
}