@import 'FontsAndColors.less';
@activeColor: red;
.main-container {
    font-family: @u-font;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration-line: none;
        h1 {
            font-weight: lighter;
            color: black;
            border-style: solid;
            border-width: 0 0  @underlineWidth 0;
    }
    &:focus {
        h1 {
            border-color: @activeColor;
        }
    }
    
}
}