<div class="main-container">
    <a [routerLink]="['/timer']">
        <h1>Log</h1>
    </a>
    <a [routerLink]="['/data']">
        <h1>Visualize</h1>
    </a>

</div>

<div class="content">
    <router-outlet></router-outlet>
</div>


