@import 'FontsAndColors.less';
@activeColor: darkblue;
.time-category-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        background-color: transparent;
        border-width: 0 0  @underlineWidth 0;
        font-family: @u-font;
        padding: 0;
        &:focus {
            border-color: @activeColor;
        }
    }
}
